html{
    font-family: 'Playfair Display', serif;
}
/* header and navigation links */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    padding: 2px;
    background-color:#f8f8ff;
    font-size: 22px;
    color: #ff751a;
}
.container {
    display:flex;
    justify-content:space-between;
    align-items:center; 
    margin: 0;
}
header ul{
    list-style-type: none;
    /* margin: 0; */
    top: 0;
    right: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
}
header li {
    float: right;
}
header li a {
    display: block;
    color: #ff751a;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
h2{
    font-weight: bold;
    font-size: 22px;
    color: #ff7733;
}
h3{
    font-size: 17px;
    font-weight: bold;
    color: #737373;
}
/* body area */
body{
    color: #262626;
    margin: 52px;
    padding: 22px;
    font-size: 15px;
}
#experience li{
    /* list-style-position: square; */
    /* list-style-type: circle; */
    display: flex;
    flex-direction: row;
}
#skills li{
    /* list-style-position: square;
    list-style-type: circle; */
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
/* links */
a{
    color:#ff751a;
}
a:focus {
    color: rgb(255,255,255);
    background-color: #ffb380;
}
a:visited {
    color: #f98b41;
}
a:hover {
    background-color: rgb(244, 244, 244);
  }

/* message form */
.text_form{
  display: block;
}
.text_form {
    padding: 0.4rem 0.5rem;
    width: 20rem;
}
form{
    background-color: rgba(230, 230, 230, 0.636);
    border-style: solid;
    border-color: rgb(190, 183, 183);
    width: 50%;
    padding: 12px 20px;
    margin: 5px 0;

    /* border-color: rgb(190, 183, 183);
    width: 50%;
    padding: 12px 20px;
    margin: 5px 0;
    border-style: solid; */
}
form > input,
form > textarea{
    font-size: 13px;
    border-style: line;
}
#message_label{
    font-size: 18px;
    color:#ff751a;
}
/* button */
button {
    background-color: #ffaa80;
    font-weight: bold;
    border-radius: 10px;
    border-color: #ffaa80;
    color: #fff;
    border: none;
    padding: 12px 32px;
    margin: 4px 2px;
    cursor: pointer;
  }
  /* list of messages */
  #messages > ul{
    background-color: rgba(237, 234, 234, 0.541);
    border-radius: 4px;
    border-style: none;
    border-style: solid;
    border-color: rgb(190, 183, 183);
}
#messages > ul>li>button{
    background-color: #ffaa80;
    padding: 10px;
    color:white;
    font-size: 12px;
    border-radius: 4px;
    margin:10px;
}
#messages{
    /* border-color: rgb(190, 183, 183);
    width: 50%;
    padding: 12px 20px;
    margin: 5px 0; */

    /* background-color: rgba(230, 230, 230, 0.636); */
    /* border-style: solid; */
    border-color: rgb(190, 183, 183);
    width: 52%;
    padding: 12px 20px;
    margin: 5px 0;
    display: none;
}
/* footer */
footer {
    border-style: none;
    border-color: none;
    bottom: 0;
    width: 100%;
    background-color: rgb(230, 230, 230);
    text-align: right;
    width: 100%;
    height: 2.5rem; 
  }
@media screen and (max-width: 700px) {
    body {
      background-color: rgb(197, 196, 194);
    }
  }